
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<section class="note generator button">

    <button id="buttonrandom">Generate a random note</button>

    <div class="outputbox">
        <p>Find Note: </p>

    </div>

    <form action="">
        <input type="checkbox" name="natural notes" value="natural notes" /> Generate natural notes only<br />
        <input type="checkbox" name="accidentals" value="accidentals" /> Generate accidentals only
    </form>


</section>

<section class="note string button">

    @*<button id="buttonrandomstring">Generate a random string</button>*@
    <button type="button" id="buttonrandomstring" class="btn btn-success btn-lg">Generate</button>

    <div class="outputboxstring">
        <p>Find on string: </p>
    </div>

</section>


