@{
    ViewBag.Title = "Home Page";
}
<h2>Home</h2>
<article>
    <h1>Hello!</h1>
    <p>Insert text here.</p>
    <p>Insert text here.</p>
    <p>Insert text here.</p>
    <p>Insert text here.</p>
    <p>Insert text here.</p>
    <p>Insert text here.</p>
    <p>Insert text here.</p>
    <p>Insert text here.</p>
    <p>Insert text here.</p>
    <p>Insert text here.</p>
    <p>Insert text here.</p>
</article>