@{
    ViewBag.Title = "Home Page";
}

    <div class="container-fluid">
    <div class="col-sm-8 col-sm-8">
        <h2>Welcome!</h2>
        <p>This is a test paragraph</p>
        <p>This is a test paragraph</p>
        <p>This is a test paragraph</p>
        <p>This is a test paragraph</p>
    </div>
    </div>





@*<h2>Home</h2>
<article>
    <h1>Hello!</h1>
    <p>Insert text here.</p>
    <p>Insert text here.</p>
    <p>Insert text here.</p>
    <p>Insert text here.</p>
    <p>Insert text here.</p>
    <p>Insert text here.</p>
    <p>Insert text here.</p>
    <p>Insert text here.</p>
    <p>Insert text here.</p>
    <p>Insert text here.</p>
    <p>Insert text here.</p>
</article>*@