
@{
    ViewBag.Title = "Index";
}


<script>

    $(document).ready(function () {
    
    VF = Vex.Flow;


    var div = document.getElementById("boo")
    var renderer = new VF.Renderer(div, VF.Renderer.Backends.SVG);


    renderer.resize(400, 200);
    var context = renderer.getContext();
    context.setFont("Arial", 10, "").setBackgroundFillStyle("#eed");

    var stave = new VF.Stave(10, 40, 400);

    stave.addClef("treble").addTimeSignature("4/4");

    stave.setContext(context).draw();

    var notes = [
        new VF.StaveNote({ keys: ["e/5"], duration: "w" }),

    ];

    var voice = new VF.Voice({ num_beats: 4, beat_value: 4 });
    voice.addTickables(notes);

    var formatter = new VF.Formatter().joinVoices([voice]).format([voice], 400);

    voice.draw(context, stave);

    })
</script>

<div class="containe-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <img src=/images/sheetmusictool_heading.jpg class="img-responsive" style="padding: 12px 0px 12px 0px;" />
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-center" style="padding: 12px 0px 12px 0px;">
            <div id="boo">

            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-center" style="padding-bottom: 20px;">
            <button type="button" id="buttonrandomsheetmusic" class="btn btn-warning btn-lg">Generate random note and string</button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <p>Enter note and string number below</p>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <form>
                Name note:<br>
                <input type="text" name="noteinput"><br>
                String number:<br>
                <input type="text" name="stringinput">
            </form>
        </div>
    </div>
</div>