
@{
    ViewBag.Title = "Index";
}

<script>

    $(function () {
        SheetMusicGenerator.init();
        
    });

</script>

<div class="containe-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <img src=/images/sheetmusictool_heading.jpg class="img-responsive" style="padding: 12px 0px 12px 0px;" />
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-center" style="padding: 12px 0px 12px 0px;">
            <div id="boo">

            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-center" style="padding-bottom: 20px;">
            <button type="button" id="buttonrandomsheetmusic" class="btn btn-warning btn-lg">-Generate-</button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <p>Enter note and string number below</p>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <form>
                Name note:<br>
                <input type="text" name="noteinput"><br>
                String number:<br>
                <input type="text" name="stringinput">
            </form>
        </div>
    </div>
</div>